.header-file{
  margin-top: 20px;
  margin-left: 20px;
}
.file-upload-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 97%;
    margin: 20px;
  }
  
  .file-upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .file-choose-button {
    background-color: #008cba;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-align: center;
  }
  
  .upload-button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }

  .file-upload-container h2 {
    text-align: center;
    
  }
  .file-upload-container p {
    /* text-align: center; */
    margin-top: 10px;
  }
  .file-dropzone {
    margin-top: 1px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
  } 
  
  .files-info {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .upload-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .file-infomation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding:0 10px;
  }
  .file-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .file-table th, .file-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    text-align: center; 
   
  }
  
  .file-table th {
    background-color: #f2f2f2;
  }
  .file-table td { 
    vertical-align: middle;
  }
  
   .file-actions {
    display: flex;
    gap: 10px; 
  }
  .action-button {
    display: inline-block; 
    margin: 3px 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #ff4d4f;
    color: white;
  }
  
  .print-button {
    background-color: #4caf50;
    color: white;
  }
  
  .file-table th:first-child, .file-table td:first-child {
    text-align: center; 
    width: 50px; 
  }
  
  .file-search-container {
    margin: 20px;
  }
  .search-input-file{
    width: 35vw;
  }
  
  .file-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .search-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .search-input-wrapper {
    display: flex;
    align-items: center;
    
    border: 2px solid #395e94;
    border-radius: 5px;
    padding: 5px;
    width: 35vw;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search-icon {
    font-size: 16px;
    margin-right: 10px;
    color: #888;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 300px;
  }
  
  .pagination-controls {
    margin: 15px 0;
  }
  
  .pagination-input {
    width: 50px;
    padding: 3px;
    margin: 0 10px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  