#wrapper {
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
}

.back-button {
    color: gray; 
    text-decoration: none; 
}
.back-button:hover {
    text-decoration: none;
}

.search-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
}

.filter-and-button-wrapper {
    display: flex;
    align-items: center; 
    flex-wrap: nowrap;
    justify-content: space-between; 
    margin-top: 10px; 
    padding: 20px;
}


.filter-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
}


@media (max-width: 600px) {
    .filter-wrapper {
        flex-direction: column; 
        align-items: flex-start;
    }
}

.add-button {
    margin-left: auto; 
}
.add-button {
    display: flex;           
    justify-content: flex-end;    
}

.add-printer-button {
    display: flex;             
    align-items: center;       
    background-color: #4CAF50; 
    color: white;              
    border: none;             
    border-radius: 4px;      
    padding: 8px 16px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
    font-size: medium;  
}

.add-printer-button:hover {
    background-color: #329337; /* Darker green on hover */
}

.add-printer-button:focus {
    outline: none; /* Remove focus outline */
}

.printer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    /* margin-top: 10px;  */
    padding-right: 20px;
    padding-left: 20px;
}

.printer {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex: 0 1 calc(25% - 15px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* border: solid 3px whitesmoke; */
    text-align: center; 
    /* border: 1px solid #a09f9f;  */
    border-radius: 10px; 
    padding: 15px; 
    background-color: #fff;
    box-sizing: border-box; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    /* height: 330px; */
}
.printer.active {
    border-bottom: 4px solid #4CAF50; /* Green bottom border when active */
}

.printer.inactive {
    border-bottom: 4px solid red; /* Red bottom border when inactive */
}
.printer h3 {
    margin-top: auto; 
    margin-bottom: 0; 
}

.printer:hover {
    transform: scale(1.05);
}

.printer img {
    width: 100%; 
    height: auto; 
    /* max-height: 250px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
}

.status-box {
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
  }
  
.status-active {
    color: green;
    font-weight: bold;
    background-color: lightgreen;
    border: 2px solid green;
}
  
.status-inactive {
    color: red;
    font-weight: bold;
    background-color: rgb(255, 193, 193);
    border: 2px solid red;
}
  

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* Media queries for responsive design */
@media (max-width: 1200px) {
    .printer-container {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    }
}

@media (max-width: 800px) {
    .printer-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    }
}

@media (max-width: 500px) {
    .printer-container {
        grid-template-columns: 1fr; /* 1 item per row */
    }
}
