.login {
  display: flex;
  height: 100vh;
  background-color: #71d2ef;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  margin: 10vh 10vw;
  width: 80%;
  max-width: 900px;
  height: 70%;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.login-img {
  width: 30vw;
}
.login-img h1 {
  color: #ff5722; /* Đổi màu chữ sang màu cam */
  font-size: 24px; /* Kích thước chữ */
  text-align: center; /* Căn giữa chữ */
  word-wrap: break-word; /* Tự động xuống dòng nếu quá dài */
  margin-top: 10px; /* Thêm khoảng cách phía trên */
  line-height: 1.5; /* Tăng khoảng cách giữa các dòng */
}

/* Left side: Login form */
.wrapper form {
  flex: 1;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper form h1 {
  text-align: center;
  margin-bottom: 10vh;
  font-size: 24px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box {
  position: relative; 
  margin-bottom: 20px;
}

.input-box .custom-input {
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
}

.input-box .custom-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input-box .icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5); /* Màu sắc cho biểu tượng */
  margin-right: 5px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-img img {
  flex: 0 0 auto; 
  object-fit: cover;
  width: 60%;
  height: 60%;
}
