#wrapper {
    width: 100%;
    padding-top: 20px;
    margin-top: 0;
    background-color: #f0f2f5;  
    min-height: 100vh; 
    overflow-y: auto; 
}

.back-button {
    color: gray; 
    text-decoration: none; 
}

.back-button:hover {
    text-decoration: none;
}

.back-button {
    text-decoration: none;
    color: #007bff;
}
.outer {
    margin-right: 20px;
    margin-left: 20px;
}
.containerr {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    min-height: 645px;
}
.table-responsive {
    overflow-x: auto; 
    max-width: 100%;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    text-align: left;
    min-width: 700px; 
    table-layout: auto; 
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 15px;
    word-wrap: break-word;
}

.user-table th {
    background-color: #5DB7DB;
    text-align: center;
    color: white;
}

.user-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.user-table th:first-child {
    border-top-left-radius: 8px;
}
.user-table th:last-child {
    border-top-right-radius: 8px;
}
@media (min-width:768px ){
    .user-list {
        display: none;
      }
}

  @media (max-width: 1023px) and (min-width: 768px) {
    .user-table th:nth-child(1), 
    .user-table td:nth-child(1), 
    .user-table th:nth-child(3), 
    .user-table td:nth-child(3), 
    .user-table th:nth-child(5),
    .user-table td:nth-child(5) {
      display: none;
    }
    
  }
  
  .containerr {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
  }
  
  /* @media (max-width: 768px) {
    .ant-table {
      display: block;
      overflow-x: auto;
    }
  
    .ant-table-row {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 10px;
      padding: 10px;
    }
  
    .ant-table-cell {
      border: none !important;
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  } */
  
  @media (max-width: 767px) {
    .table-responsive {
      display: none;
    }
  
    .user-list {
      display: block;
    }
  
    .user-list-item {
      border: 1px solid #ddd;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .user-list-item div {
      margin-bottom: 5px;
    }
  
    .user-list-item div span {
      font-weight: bold;
    }
  }