.menu-bar {
  position: relative;
  height: 88vh;
  width: 225px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;

}

