.register{
    background-color: #71d2ef;
}
:where(.css-dev-only-do-not-override-142vneq).ant-form-item {
    margin-bottom: 10px;
}
:where(.css-dev-only-do-not-override-142vneq).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label, :where(.css-dev-only-do-not-override-142vneq).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-142vneq).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xl-24.ant-form-item-label {
    padding-bottom: 4px;
}